.Panel {
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}
.PanelItem {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.PanelItem .MuiButton-sizeLarge {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
}
.PanelItem .MuiFormControl-root {
  margin-right: 14px;
  flex-basis: 240px;
}
