$color: #232323;
$fontsize: 17px;

html, body {
  box-sizing: border-box;
}
body {
  font-family: Roboto;
  font-size: $fontsize;
  color: $color;
  margin: 0;
}
.js-block {
  cursor: pointer;
}
.Modal {
  bottom: 0;
}
.ModalPanel {
  margin-top: 16px;
}
.MuiButton-sizeLarge {
  height: 56px;
}

